@charset "UTF-8";
@import "reset.css";
@import "cores.css";

body{
    background-color: var(--midnight-violet);
    color: var(--platinum);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: azure;
}
h1{ 
    
}
.aula-card{
	display: block;
	width: 220px;
	background: var(--slate-blue);
	color: var(--platinum);
	padding: 18px;
	border-radius: 12px;
	text-decoration: none;
	transition: transform 0.1s;
}