@charset "UTF-8";
@import "reset.css";
@import "cores.css";


body {
    color: var(--platinum);
    background-color: #decfcf;
}
header{
    background-color: #ca8787;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}
a{
    color: var(--platinum);
    text-decoration: none;
    font-weight: bold;
}
.aula-card{
    background-color: #578981;
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}


